#main-container {
  padding: 3em;
  background: url('http://res.cloudinary.com/dn4jhnh54/image/upload/c_scale,w_1882/v1532991753/coffee_lxxaab.png');
  background-size: 100%;
}

#main-container p, h1, button, hr {
  color: white;
}

#nav-container {
  font-family: 'Gaegu', cursive;
}

#main-title {
  color: white;
}

#main-description {
  color: white;
}

#sign-up input {
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
}

#sign-up button {
  margin: auto;
}
